/**
 *  Layout
 */
 
html {
	max-width: 1300px;
	margin: 0 auto;
}
body {
	margin: auto;
	width: 90%;
	background-color: #e7d6e8;
	margin: 0 auto;

}
hr{
	background-color: #702c8d;
	margin-top: 0;
	height: 5px;
}
main {
	background-color: #fff;
	padding: 30px;
	margin-bottom: 20px;
}
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
}
.column, .double-column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}
@media (min-width: 768px) {
	.row {
		gap: 40px;
	}
	.column {
		flex: 1;
	}
	.double-column {
		flex: 2;
	}
}

.page .row .img img {
	display: block;
	width: 100%;
} 
 
/**
 *  Text/Headings
 */ 

body {
	font-family: Arial, sans-serif;
	color: #000;
}
h1, h2, h3, h4 {
	line-height: 1.5em;
}
.featured-recipes h2,
.find-recipes h2,
.level-descriptions h2 {
	color: #4a4a8a;
} 
.find-recipes h2{
	color: white;
}
#home section h2, .page-title h2, .find-recipes h2 {
	font-family: "Press Start 2P", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	text-transform: uppercase;
}
.page-title h2 {
	font-size: 20px;
	margin-bottom: 40px;
}
.page-title {
	text-align: center;
}
.page h4{
	font-size: 1.5em;
	margin: 10px 0px;
}

.page h5{
	font-size: 1em;
	margin: 0;
}


/**
 *  Links
 */ 

a {
	color: #702c8d;
}

/**
 *  Lists
 */ 

main li {
	margin-bottom: .5em;
}


/**
 * Forms
 */
 
select {
	padding: 10px;
	border-radius: 2px;
	font-size: 1em;
}
select, button {
	border: 1px solid #ccc;
	background-color: #060080;
	color: white;
}
button {
	padding: 20px;
	
}
button:hover {
	background-color: #3131af;
}
button:disabled {
	background-color: #b1b1dd;
	border: 1px solid #3131af;
}



/**
 *  Main Layout
 */  
 
 
/* thise thing can be added into phone */
header {
	/*display: flex;*/
	/*justify-content: space-between;*/
	color: black;
	padding: 10px 0 0 0;
}
header .row {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
header .logo {
	padding: 0;
	text-align: center;
	background-color: #231f20;
}
header .logo a {
	display: block;
	border: none;
}
header .logo img {
	height: 50px;
	display: block;
}
header .logo #xp {
	font-weight: bold;
	color: #ffe500;
}
header .search {
	/*align-self: flex-end;*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
header .search input {
	display: block;
	/*align-self: flex-end;*/
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

/*.header-nav {
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	gap: 10px;
}*/  
nav {
	display: block;
	text-align: center;
	font-family: "Arial Narrow", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 1px;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 20px;
	justify-content: flex-end;
}
nav ul li {
	margin: 0;
}
nav a {
	color: #000;
	text-decoration: none;
	padding: 10px 15px;
	display: inline-block;
}
nav a:hover {
	background-color: #b492b7;
}

footer ul {
	text-align: center;
	margin: 20px 0 40px 0;
	padding: 0;
}
footer ul li {
	display: inline;
	margin: 0 10px;
	padding: 0;
}


/**
 *  Home Sections
 */    
 
#home main {
	padding: 5px;
}
#home section, .find-recipes {
	padding: 40px;
	margin-bottom: 5px;
	text-align: center;
}
.section-header {
	padding: 10px;
	margin: auto;
	width: 50%;
	margin-bottom: 20px;
}
.section-header h2, .section-header p {
	color: #fff;
}
.section-header h2 {
	margin-top: 0;
}
.section-header p {
	margin: 0;
	color: #fff200;
	font-family: "Arial Narrow", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 1px;
}
   
.featured-recipes {
	  background-color: #9e5ba3;
	  text-align: center;
	  padding-bottom: 20px;
}
.featured-recipes .section-header {
	background-color: #86328c;
}
.recipe-images {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
}
.recipe-images figure {
	flex: 1;
	margin: 0;
}
.recipe-images figure a {
	display: block;
}
.recipe-images figure figcaption {
	font-size: 12px;
}
.recipe-images figure figcaption a {
	display: inline;
}
.recipe-images img {
	display: block;
	width: 100%;
	aspect-ratio: 1/1;
	border-radius: 3px;
	object-fit: cover;
}


.find-recipes{
	background-color: #009aff;
	padding-bottom: 30px;
}
.filters {
	background-color: #175eff;
	color:black;
	padding: 30px;
	border-radius: 5px;
	display: inline-flex;
	align-items: center;
	gap: 40px;
}
.filters label {
	margin: 10px 0;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}
.find-recipes button, .filters button {
	margin-top: 20px;
	font-family: "Press Start 2P", serif;
	text-transform: uppercase;
}
.filters .button  {	
	text-align: center;
}
@media (min-width: 1200px) {
	.filters .column {
		flex-direction: row;
		align-items: center;
	}
	.filters label {
		margin: 0 10px 0 0;
	}
}


.level-descriptions {
	background-color: #42d9a0;
	margin-bottom: 0;
}  
.level-descriptions .section-header {
	background-color: #408c6f;
}
.level-descriptions .levels {
	/*justify-content: center;*/
	gap: 10px;
}
.level-descriptions .level {
	display: block;

}
.levelnumber{
	background-color: #ffffff;
	width: 75px;
	float: left;
	margin-right: 10px;
	padding: 5px;
	border: 5px solid #408c6f;
	color: #408c6f;
	font-family: "Press Start 2P", serif;
	font-size: 10px;
	text-transform: uppercase;
}
.levelnumber .number {
	display: block;
	font-size: 30px;
	margin: 10px 0 0 0;
}


/**
 * Smaller screen sizes
 */

@media (max-width: 768px) {
	body {
		width: 100%;
		/*font-size: 14px;*/
	}
	header .logo img {
		height: 35px;
	}
	nav ul {
		gap: 5px;
	}
	.filters,
	.level-descriptions .levels {
		gap: 5px;
	}
}
  
@media (max-width: 375px) {
	header {
		flex-direction: column;
	}
	nav ul {
		flex-direction: column;
		gap: 5px;
	}
	
	.find-recipes,
	.level-descriptions {
		padding: 10px;
	}
	
	/*.recipe-images img {
		max-width: 100%;
	}*/
}


/**
 * Results Page
 */
 
/*#text,
#text1,
#text2{
	background-color: rgb(119, 219, 174);
	padding: 20px;
}*/
.result-find-recipes {
	text-align: center;
	margin-bottom: 20px;
}

#nav {
	color: white;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
#nav p {
	align-self: stretch;
	padding: 15px 30px;
	background-color: #408c6f;
	margin: 0;
}
#nav a {
	color: white;
}
#img{
	margin-right: 30px;
	float: left;
}
.recipe-card {	
	background-color: #42d9a0;
	margin-bottom: 20px;
	padding: 20px 30px;
}
.recipe-card .img figure {
	margin: 0;
	display: block;
	width: 100%;
}
.recipe-card .img img {
	display: block;
	object-fit: cover;
	width: 100%;
	aspect-ratio: 4/3;
}
.recipe-card figcaption {
	font-size: 12px;
}
.recipe-info h2 {
	margin-top: 0;
}
.recipe-info p {
	margin: .5em 0;
}

/**
 * Single Recipe
 */

#recipe {
	
}
.recipe-title{
	background-color: #86328c;
	width: 60%;
	margin: 0 auto 20px auto;
	padding: 20px;
	text-align: center;
	color: white;
}
.recipe-title h2 {
	margin: 0;
	font-family: "Press Start 2P", serif;
	font-size: .9em;
	line-height: 1.5em;
}

.recipe-header {
	margin-bottom: 40px;
}
.recipe-header figure {
	margin: 0;
	display: block;
}
.recipe-header img {
	display: block;
	object-fit: cover;
	width: 100%;
	aspect-ratio: 4/3;
	max-height: 400px;
}
.recipe-header figcaption {
	font-size: 12px;
}
.recipe-header .level {
	display: inline-block;
	font-family: "Press Start 2P", serif;
	height: 20px;
	line-height: 20px;
	width: 20px;
    border-radius:50%;
    border: 3px solid #86328c;
    color: #86328c;
    text-align: center;
}
.recipe-header .buttons {
	margin-top: 10px;
}
#i-made-this-button {
	display: inline-block;
	font-size: 1em;
	padding: 10px;
	
}
.tooltip-info {
	display: inline-block;
}
.tooltip-info .question {
	display: inline-block;
	height: 20px;
	line-height: 20px;
	width: 20px;
    border-radius:50%;
    border: 3px solid #86328c;
    color: #86328c;
    text-align: center;
} 
.tooltip {
	display: none;
	position: absolute;
	font-size: 12px;
	background-color: white;
	border: 1px solid grey;
	padding: 5px;
} 
.tooltip-info:hover .tooltip {
	display: block;
} 

.recipe section, .page section {
	margin-top: 20px;
	padding: 20px;
}
.recipe section ul, .recipe section ol {
	padding-left: 30px;
} 

.ingredients, .page section {
	background-color: #42d9a0;
}
.directions{
	background-color: #009aff;
}
.recipe section h3, .page section h3 {
	width: 80%;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	padding: 10px;
	font-family: "Press Start 2P", serif;
	font-size: .8em;
	margin-top: -30px;
}
.ingredients h3, .page section h3 {
	background-color: #408c6f;
}
.directions h3 {
	background-color: #175eff;
}

/**
 * Pages - About, etc.
 */
 .page section {
 	padding: 40px;
 	margin-bottom: 40px;
 }
.page section h3 {
	margin-top: -50px;
}
.page .team {
	background-color: #009aff;
}
.page .team h3 {
	background-color: #175eff;
}
.page .references {
	background-color: #bb7ebf;
}
.page .references h3 {
	background-color: #86328c;
}


/**
 *  Search
 */ 

#input {
	position: absolute;
	margin-top: 40px;
	display: none;
	overflow-x: auto; 
	height: 250px;
	width: 240px;
}
.word-block a {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 200px;
	height: 100px;
	gap: 10px;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #0cffa6;
	text-decoration: none;
}
.word-block a img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin-right: 10px;
	border-radius: 5px;
	border-radius: 5px;
	align-self: center;
}
.word-block a span {
	display: block;
	font-size: 16px;
	font-weight: bold;
}